body {
    background: #13100d url('background.jpg') no-repeat top left;
    font: 12pt sans-serif;
    color: #ddd;
    
}

a {
    color: #FF8;
}

p {
    padding-left: 2em;
    padding-right: 2em;
}

h1 {
    color: #fc7;
}

ul {
    padding-left: 5em;
    padding-right: 2em;    
}
